
@{
    ViewBag.Title = "RegisterSuccessed";
}

<h2 align="center">Пользователь зарегистрирован успешно!</h2>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div align="center">
            <p>
                Теперь Вы можете войти на сайт.
            </p>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

