@{
    ViewBag.Title = "Автовокзал";
}

<style>
    .search-form {
        float: right;
        width: 400px;
        height: 267px;
        z-index: 2;
        background:gainsboro;
        opacity: .75;
        position: absolute;
        margin-left: 50px
    }
</style>


<div></div>

<div id="map">
    <div class="search-form">
        @Html.Action("Index", "Search")
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/yandexmap")  
    
    <script>
        $(function() {
            $('#DepartureDate').val(new Date().toJSON().slice(0, 10));

        })
    </script>
}
